<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guo.xinzangapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisteredActivity" />
        <activity android:name=".homepageActivity" />
        <activity android:name=".LinearRecycleViewActivity" />
        <activity android:name=".homeActivity" />
        <activity android:name=".medicineActivity" />
        <activity android:name=".medicine.bMedicine1Activity" />
        <activity android:name=".medicine.bMedicine2Activity" />
        <activity android:name=".medicineArticle.medicineAticle1Activity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".index.indexActivity" />
        <activity android:name=".consult.consultActivity" />
        <activity android:name=".medicine.drugSwitchActivity" />
        <activity android:name=".medicine.drugTypeListActivity" />
        <activity android:name=".medicineArticle.newListActivity" />
        <activity android:name=".diary.diaryActivity" />
        <activity android:name=".diary.diaryListActivity" />
        <activity android:name=".diary.DiaryDetailActivity"></activity>
    </application>

</manifest>